.menu {
    display: flex;
    flex-wrap: nowrap;
    width: 480px;
    overflow: hidden;
}

.scroll-left-button, .scroll-right-button {
    position: absolute;
    padding: 0.8em;
    top: 30%;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.scroll-left-button:disabled, .scroll-right-button:disabled {
    cursor: not-allowed;
}

.scroll-left-button:active, .scroll-right-button:active {
    transform: translateY(0.5em);
}

.scroll-left-button {
    left: -5em;
}

.scroll-right-button {
    right: -5em;
}

.progress-bar {
    position: relative;
    width: 100px;
    left: calc(50% - 50px);
}

.dish {
    min-width: 480px;
    display: grid;
    padding: 1em;
    grid-template: 2em min-content / min-content 1fr;
    gap: 1em;
}

.dish-name {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.dish-image {
    width: 200px;
    height: 200px;
}
